/* Layer structure  */

@layer reset, base, layout, components, utilities, states, overrides, queries;

/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  ul, li {
    margin: 0;
  }
}

/* For element defaults and global rhythm */
@layer base {
    /* Define color palette and spacing scale */
  :root {
    /* Colors based on logo, components, and later plans */
    --color-important: #378FDC;
    --color-heading: #3d669b;
    /* Color primary is used for text but also dark shades like shadows and borders */
    --color-primary: #29264c;
    --color-card: #F5F5F5;
    --color-surface: #FEFEFE;
    --color-debug: #ccffff;
    --color-contrast: #FF83CD;
    /* Spacing scale was decided based on browser inspection */
    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
  }
  body {
    background-color: var(--color-debug);
    font-family: 'Inter', 'Open Sans', 'Arial', sans-serif;
    line-height: var(--size-md);
    color: var(--color-primary);
  }
  h2, h3 {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color: var(--color-heading);
    margin: 0;
  }
  nav ul {
    list-style: none;
    gap: var(--size-md);
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: var(--color-primary);
  }
  footer {
    padding: var(--size-md);
    background-color: var(--color-surface);
  }
  img,
  svg {
    max-width: 100%;
  }
}

/* For page-level structure, layout, composition, and major regions */
@layer layout {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
    position: relative;
  }
  body section {
    padding: var(--size-md);
    background-color: var(--color-surface);
  }
  .container {
    max-width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-md);
  }
}

/* For reusable interface/content patterns (buttons, cards, callouts, forms) */
@layer components {
  /* Logo component */
  #logo {
    background-image: url('images/logo/TacomaFSC_logo_Default\ Logo.svg');
    background-repeat: no-repeat; 
    background-position: left;
    background-size: contain;
    margin-left: var(--size-xs);
    min-width: 35vw;
    min-height: 13vh;
  }

  /* Nav Hamburger Styles */
  nav {
    width: 100%;
    text-align: right;
  }
  nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    width: 100%;
    background-color: var(--color-card);
    transition: max-height .5s ease;
  }
  nav li a {
    display: block;
    font-size: var(--size-sm);
    padding: var(--size-sm) var(--size-xs);
    font-weight: bolder;
    color: var(--color-primary);
    transition: background-color .3s ease-in;
    border-top: 3px solid var(--color-important);
  }
  nav label {
    cursor: pointer;
    display: inline-block;
    padding: var(--size-sm);
    user-select: none;
  }
  nav label span {
    background-color: var(--color-primary);
    margin-right: var(--size-xxs);
    display: block;
    height: .2rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: var(--size-lg);
  }
  nav label span:before, 
  nav label span:after {
    background-color: var(--color-primary);
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    height: 100%;
    width: 100%;
  }
  nav label span:before {
    top: var(--size-xxs);
  }
  nav label span:after {
    top: -.5rem;
  }
  nav input {
    display: none;
  }
  nav input:checked ~ ul {
    max-height: 500px;
  }
  nav input:checked ~ label span {
    background: transparent;
  }
  nav input:checked ~ label span:before {
    transform: rotate(-45deg);
  }
  nav input:checked ~ label span:after {
    transform: rotate(45deg);
  }
  nav input:checked ~ label:not(.steps) span:before, 
  nav input:checked ~ label:not(.steps) span:after {
    top: 0;
  } 

  /* Hero Styles */
  .hero {
    padding: var(--size-lg);
    background: linear-gradient(var(--color-important), rgba(0, 0, 0, 0.5) 3%), url("images/placeholder-skating-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    place-items: center;
    overflow: hidden;
    color: var(--color-surface);
  }
  .hero-text {
    margin: var(--size-sm);
    height: 60vh;
    display: grid;
    place-items: center;
    gap: var(--size-xxs)
  }
  .hero-text h2 {
    color: var(--color-surface);
    font-size: var(--size-md);
  }
  .hero-text p {
    border-radius: 10px;
  }
  /* Card styles */
  .card {
    background-color: var(--color-card);
    border-radius: var(--size-md);
    padding: var(--size-xs) var(--size-md);
    box-shadow: 4px 4px 4px gray;
  }
  .event-card img {
    max-height: 300px;
  }
  button, .button {
    background-color: var(--color-important);
    font-size: var(--size-sm);
    border: none;
    color: white;
    padding: var(--size-xs) var(--size-md);
    border-radius: var(--size-xs);
    cursor: pointer;
    white-space: nowrap;
  }
}

/* For small, single-purpose adjustments */
@layer utilities {
  .visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(50%);
  }
  .text-center {
    text-align: center;
  }
  .top-border {
    border-top: 1px solid var(--color-primary);
  }
}

/* For state interactions, validation, or current-location styling */
@layer states {
  a:hover, button:hover {
    background-color: var(--color-contrast);
  }
  nav a:hover, 
  nav input:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
  }
  .current-page {
    font-style: italic;
    color: var(--color-heading);
  }
  a:focus-visible, 
  button:focus-visible,
  input:focus-visible {
    border: 5px dashed #FF83CD;
  }
}

/* For intentional overrides that are intentional, layer should be minimal */
@layer overrides {
  
}

@layer queries {
  /* Media query for tablet */
  @media screen and (min-width: 768px) {
    @layer base {
      .container {
        margin: 0 auto;
        max-width: 95%;
      }
      .card-container {
        grid-template-columns: 1fr 1fr;
      }
    }
    @layer components {
      #logo {
        background-image: url('images/logo/TacomaFSC_logo_Extended\ Logo.svg');
      }
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {

    }
  }

  /* Media query for laptop sizes */
  @media screen and (min-width: 1024px) {
    @layer base {
      .container {
        margin: 0 auto;
        max-width: 85%;
      }
      .card-container {
        grid-template-columns: 1fr 1fr;
      }
    }
    @layer components {
      #logo {
        background-image: url('images/logo/TacomaFSC_logo_Logo\ Banner.svg');
        margin-left: var(--size-md);
      }
      /* Styles to expand navigation */
      nav label span, 
      nav input {
        display: none;
      }
      nav ul {
        overflow: visible;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        top: 20%;
        right: var(--size-sm);
        align-items: center;
        gap: 1em;
        max-width: 55vw;
      }
      nav li a {
        justify-content: center;
        white-space: nowrap;
      }
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {

    }
  }

  /* Media query for desktop sizes */
  @media screen and (min-width: 1440px) {
    @layer base {
      .container {
        margin: 0 auto;
        max-width: 75%;
      }
    }
    @layer components { 
      
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {
      
    }
  }

  /* Media query for print styles */
  @media print {
    @layer base {
      nav, button, .button {
        display: none;
      }
    }
    @layer components {
      #logo {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }
      .hero,
      .hero-text {
        height: auto;
        color: var(--color-primary)
      }
      .card {
        box-shadow: none;
        border: 1px solid var(--color-primary);
      }
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {

    }
  }
}

