/* Layer structure  */

@layer reset, base, layout, components, utilities, states, overrides, queries;

/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  ul, li {
    margin: 0;
  }
}

/* For element defaults and global rhythm */
@layer base {
    /* Define color palette and spacing scale */
  :root {
    /* Colors based on logo, components, and later plans */
    --color-important: #378FDC;
    --color-heading: #3d669b;
    /* Color primary is used for text but also dark shades like shadows and borders */
    --color-primary: #29264c;
    --color-card: #F8F9FA;
    --color-surface: #FEFEFE;
    --color-surface2: #E6F2F8;
    --color-contrast: #A13131;
    /* Spacing scale was decided based on browser inspection, 1 = .25 */
    --size-2: .5rem;
    --size-3: .75rem;
    --size-4: 1rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --size-12: 3rem;
    --size-16: 4rem;
  }
  html {
    min-width: 400px;
  }
  body {
    background-color: paleturquoise; /* Color to check for improper spacing in main */
    font-family: 'Inter', 'Open Sans', 'Arial', sans-serif;
    line-height: var(--size-6);
    color: var(--color-primary);
  }
  h2, h3 {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color: var(--color-heading);
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: var(--color-primary);
  }
  footer {
    padding: var(--size-6);
    background-color: var(--color-primary);
    color: var(--color-surface);
  }
  img,
  svg {
    max-width: 100%;
  }
}

/* For page-level structure, layout, composition, and major regions */
@layer layout {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
    position: relative;
  }
  main > section {
    padding: var(--size-6);
    background-color: var(--color-surface2);
  }
  main > section:nth-child(even) {
    background-color: var(--color-surface);
  }
  .wrapper {
    inline-size: min(100% - 2rem, 72rem);
    margin-inline: auto;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
    gap: clamp(var(--size-4), var(--size-6), var(--size-8));
    container-name: card-container;
    container-type: inline-size;
  }
}

/* For reusable interface/content patterns (buttons, cards, callouts, forms) */
@layer components {
  /* Logo component */
  #logo {
    background-image: url('images/logo/TacomaFSC_logo_Default\ Logo.svg');
    background-repeat: no-repeat; 
    background-position: left;
    background-size: contain;
    margin-inline-start: minmax(var(--size-3), var(--size-6));
    min-width: 35vw;
    min-height: 13vh;
    container-name: logo-container;
    container-type: inline-size;
  }

  /* Nav Hamburger Styles */
  nav {
    width: 100%;
    text-align: right;
    container-name: nav-container;
    container-type: inline-size;
  }
  nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    width: 100%;
    background-color: var(--color-surface2);
    transition: max-height .5s ease;
    z-index: 2;
    border-bottom: 1px solid var(--color-important);
  }
  nav li a {
    display: block;
    font-size: minmax(var(--size-3), var(--size-4));
    padding: var(--size-4) var(--size-3);
    font-weight: bolder;
    color: var(--color-primary);
    transition: background-color .3s ease-in;
    border-top: 3px solid var(--color-important);
  }
  nav ul:last-child {
    box-shadow: 0 10px 20px -1px var(--color-important);
  }
  nav label {
    cursor: pointer;
    display: inline-block;
    padding: var(--size-4);
    user-select: none;
  }
  nav label span {
    background-color: var(--color-primary);
    margin-inline-end: var(--size-2);
    display: block;
    height: .2rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: var(--size-8);
  }
  nav label span:before, 
  nav label span:after {
    background-color: var(--color-primary);
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    height: 100%;
    width: 100%;
  }
  nav label span:before {
    top: var(--size-2);
  }
  nav label span:after {
    top: -.5rem;
  }
  nav input {
    display: none;
  }
  nav input:checked ~ ul {
    max-height: 500px;
  }
  nav input:checked ~ label span {
    background: transparent;
  }
  nav input:checked ~ label span:before {
    transform: rotate(-45deg);
  }
  nav input:checked ~ label span:after {
    transform: rotate(45deg);
  }
  nav input:checked ~ label:not(.steps) span:before, 
  nav input:checked ~ label:not(.steps) span:after {
    top: 0;
  } 

  /* Hero Styles */
  .hero {
    background: linear-gradient(var(--color-important), rgba(0, 0, 0, 0.5) 5%), url("images/placeholder-skating-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: clamp(40vh, 85vh, 90vh);
    display: grid;
    place-items: center;
    overflow: hidden;
    color: var(--color-surface);
  }
  .hero-text {
    display: grid;
    gap: clamp(var(--size-2), 1vw, var(--size-6));
    padding: clamp(var(--size-2), 4vw, var(--size-6));
  }
  .hero-text h2 {
    color: var(--color-surface);
    font-size: clamp(var(--size-4), var(--size-6) + 1vw, var(--size-12));
  }

  /* Card styles */
  .card {
    background-color: var(--color-card);
    border-radius: var(--size-6);
    padding: var(--size-6);
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 8px;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  .card img {
    max-height: 300px;
    padding-block-start: var(--size-4);
  }

  /* Button Styles */
  button, .button {
    background-color: var(--color-primary);
    font-size: var(--size-4);
    border: none;
    color: var(--color-surface);
    padding: var(--size-4) var(--size-6);
    border-radius: var(--size-3);
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
  }
  footer a {
    color: var(--color-surface2);
    padding: var(--size-2);
    border: 3px solid var(--color-surface2);
    border-radius: 10px;
  }

  /* Table Styles */
  .table-container {
    overflow-x: auto;
  }
  table, th, td {
    border: 1px solid var(--color-important);
    border-collapse: collapse;
    margin: var(--size-6) auto;
    table-layout: fixed;
  }
  th, td {
    padding: var(--size-3) 
  }
  thead th, thead td,
  tr:nth-child(even) {
    background-color: var(--color-card);
  }
  tr:nth-child(odd) {
    background-color: var(--color-surface);
  }
  

  /* Form Styles */
  label {
    display: block;
  }
  input[type=text],
  input[type=email],
  textarea {
    margin-block-start: var(--size-2);
    box-sizing: border-box;
    padding: var(--size-3);
    width: 100%;
    border: 2px solid var(--color-important)
  }
  input[type=submit] {
    display: block;
    justify-self: center;
  }
}

/* For small, single-purpose adjustments */
@layer utilities {
  .visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(50%);
  }
  .text-center {
    text-align: center;
  }
  .blur {
    backdrop-filter: blur(20px);
    border-radius: 20px;
  }
  /* Modification Class to Shorten Hero */
  .bannerModification {
    height: 20vh;
  }
}

/* For state interactions, validation, or current-location styling */
@layer states {
  /* Animations, transitions, transformations */
  .card {
    transition: transform 0.5s, box-shadow 0.5s ease-in-out;
  }
  .card:hover {
    transform: translate(-2px, -6px);
    box-shadow: rgba(0, 0, 0, 0.5) 4px 6px 10px;
  }
  a:hover,
  button,
  .button {
    transition: background-color 0.3s, color 0.3s ease-in-out;
  }
  a:hover, 
  button:hover,
  .button:hover {
    background-color: var(--color-important);
    color: var(--color-surface);
  }
  nav a:hover, 
  nav input:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
  }
  .current-page {
    font-style: italic;
    font-weight: 500;
  }
  a:focus-visible, 
  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible {
    outline: 5px dashed var(--color-contrast);
    outline-offset: 3px;
    box-shadow: 0 0 0 5px var(--color-surface);
  }
}

/* For intentional overrides that are intentional, layer should be minimal */
@layer overrides {
  .inactive-button {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

@layer queries {
  /* Container queries */ 
  @container nav-container (width > 50rem) {
    /* Styles to expand navigation */
    nav label span, 
    nav input {
      display: none;
    }
    nav ul {
      overflow: visible;
      position: absolute;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 1em;
      top: 25%;
      right: 15px;
      align-items: center;
      max-width: 60vw;
      border-bottom: none;
    }
    nav li a {
      justify-content: center;
      white-space: nowrap;
    }
  } 
  
  /* Media query for tablet ~ 768px */
  @media screen and (min-width: 48rem) {
    @layer base {
      .wrapper {
        inline-size: min(100% - 4rem, 72rem);
      }
    }
    @layer components {
      #logo {
        background-image: url('images/logo/TacomaFSC_logo_Extended\ Logo.svg');
      }
    }
    @layer utilities {

    }
    @layer states {
      
    }
    @layer overrides {

    }
  }

  /* Media query for laptop sizes ~ 1024px */
  @media screen and (min-width: 64rem) {
    @layer base {
      .wrapper {
        inline-size: min(100% - 6rem, 72rem);
      }
    }
    @layer components {
      #logo {
        background-image: url('images/logo/TacomaFSC_logo_Logo\ Banner.svg');
        margin-inline-start: var(--size-6);
      }
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {
      #schedule div > p {
        display: none;
      }
    }
  }

  /* Media query for wide desktop sizes ~ 1440px */
  @media screen and (min-width: 90rem) {
    @layer base {

    }
    @layer components { 
      @supports not (container-type: inline-size) {
        /* Styles to expand navigation */
        nav label span, 
        nav input {
          display: none;
        }
        nav ul {
          overflow: visible;
          position: absolute;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 1em;
          top: 25%;
          right: 15px;
          align-items: center;
          max-width: 60vw;
          border-bottom: none;
        }
        nav li a {
          justify-content: center;
          white-space: nowrap;
        }
      }
    }
    @layer utilities {

    }
    @layer states {

    }
    @layer overrides {

    }
  }

  /* Media query for reduced motion preference */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: .01ms;
      scroll-behavior: auto;
    }
  }
  /* Media query for print styles */
  @media print {
    @layer base {
      nav, button, .button {
        display: none;
      }
      html, body {
        transform-origin: top left;
        zoom: 80%;
        width: 100%;
        font-size: 10pt;
      }
    }
    @layer components {
      #logo {
        background-image: url('images/logo/TacomaFSC_logo_Extended\ Logo.svg');
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }
      .hero,
      .hero-text > * {
        height: auto;
        color: var(--color-primary);
      }
      .card {
        box-shadow: none;
        border: 1px solid var(--color-primary);
      }
    }
    @layer utilities {
      .no-print {
        display: none;
      }
      .landscape {
        page: A4 landscape;
      }
    }
    @layer states {

    }
    @layer overrides {
      #schedule div > p {
        display: none;
      }
    }
  }
}

